<!DOCTYPE html>
<html>
<head
 <%- include('../layout/head.ejs'); %>
</head>
<body>
 <main>
   <h1>My Book List</h1>
   <h1>Hello <%= hello %> </h1>
   <p><a href = “/search”>Search</a></p>
 </main>

</body>
</html>