
* {
  box-sizing: border-box;
}

body {
  background-color: #808080;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
}

h1 {
  font-family: 'Thasadith', sans-serif;
  font-family: 'Staatliches', cursive;
  text-align: center;
  font-size: 40px;
}

a:link {
  text-decoration: none;
}

h2 {
  color: #000000;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

h3{
  color: #ffffff;

}

h4 {
  color: #000000;
  font-family: 'Thasadith', sans-serif;
  font-family: 'Staatliches', cursive;
}

p{
  text-align: justify;
  color: #4d4b4b;

}

h5 {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #525252;
}

h6 {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #525252;
}

 
#enter {
  width: 60%; 
  display: flex;
  margin: auto;
  padding: 8px;
  align-items: center;
  flex-direction: column;
}

#button {
  /* height: 40px; */
  background-color: black;
  padding: 8px;
  color: #ffffff;
  width: 60%; 
  display: flex;
  margin: auto;
  padding: 1px;
  align-items: center;
  flex-direction: column;
  line-height: 2.0em; 
  font-size: 20px;
  text-align: center;
}

 .radio {
  width: 60%; 
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 8px;
  
} 

.detail {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  
}


ul {
  list-style-type: none;
}

li {
  border: 1px solid #070707;
  list-style-position:inside;
  width: 40%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #c2c2c2;
  font-family: 'Thasadith', sans-serif;

}

.icon-facebook:before {
  content: "\e900";
  color: #3b5998;
}

.icon-twitter:before {
  content: "\e902";
  color: #1da1f2;
}

.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}

header > .top {
	position: absolute;
  right: 20px;
  margin-top: -80px;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
  transition: .2s ease;
 
}
header > .top a.menu_icon:hover i {
	color: #fff;
}
nav.menu {
	width: 200px;
	min-height: calc(100vh - 121px);
	background-color: #c2c2c2;
	position: absolute;
	right: -300px;
	transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 10px;
    color: #494949;
    text-transform: uppercase;
}

.menu_show {
	right: 0!important;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}

form {
  text-align: center;
  /* display: flex;
  align-content: flex-start; */

}

input, textarea {
  display: block;
  width: 50%;
  margin: 20px auto;

}