<header>
  <h1><a href="/">Best Books!</a></h1>
  
  <div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
    </div>
    
    <nav class="menu">
        <a href="/" class="item_menu">Home</a>
        <a href="/new" class="item_menu">Search Google Books API</a>
        <!-- <a href="#" class="item_menu">products</a>
        <a href="#" class="item_menu">services</a>
        <a href="#" class="item_menu">contact</a> -->
      </nav>

  <!-- <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/new">Search Google Books API</a>
    </li>
  </ul> -->
  
</header>